# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos del editor
.vscode/
.idea/
*.swp
*.swo

# Archivos de logs
*.log

# Archivos de base de datos
*.db
*.sqlite3